.profileScreen {
  height: 100vh;
  color: #fff;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profileScreen__body > h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282C2D;
    margin-bottom: 20px;
}

.profileScreen__details{
    color: #FFF;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__details >h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profileScreen__signOut{
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    background-color: #E50914;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.profileScreen__plans{
    margin-top: 15px;
}

.profileScreen__plansHeading  {
    border-bottom: 1px solid #282C2D;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.profileScreen__plansHeading > p {
    font-weight: 600;
}


.profileScreen__info {
  display: flex;
}

.profileScreen__info > img {
  height: 100px;
}